@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<div class="h2">
    
</div>
<div class="row">
    <div class="col-6 col-sm">
        <table class="table table-striped">
            <thead>
                <tr class="text-dark">
                    <th>
                        Nome
                    </th>
                    <th>
                        Sobrenome
                    </th>
                    <th>
                        Documento
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.ToList())
                {
                    <tr>
                        <td>
                            @c.FirstName
                        </td>
                        <td>
                            @c.LastName
                        </td>
                        <td>
                            @c.Document
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm">Editar</button>
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm">Excluir</button>
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm">Pesquisar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>