@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<div class="row">
    <div class="col-4">
        <div class="container container-fluid">
            <div class="card">
                <div class="card-header">
                    Clientes
                </div>
                <div class="card-body">
                    Detalhes do cliente
                </div>
                <div class="card-footer">
                    Status: Ativo
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="container container-fluid">
            <div class="card">
                <div class="card-header">
                    Clientes 2
                </div>
                <div class="card-body">
                    Detalhes do cliente 2
                </div>
                <div class="card-footer">
                    Status: Ativo 2
                </div>
            </div>
        </div>
    </div>
</div>