@{ 
    ViewData["Title"] = "Sobre";
}

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <p>Este sistema foi desenvolvido para o uso exclusivo do Restaurante Diniz</p>
        </div>
    </div>

</div>
