@{
    ViewData["Title"] = "Restaurante Diniz";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Acesse mais informações sobre o sistema: <a asp-controller="Home" asp-action="About"/>Sobre o SystemRD1</p>
</div>
