@{
    ViewData["Title"] = "Restaurante Diniz";
}

<div class="container justify-content-center">
    <div class="jumbotron" style="background-color: #b1bdee">
        <h1 class="display-4">
            Olá, seja bem-vindo!
        </h1>
        <p>Sistema para gestão de clientes</p>
        <hr class="my-4" />
        <p>Acesse mais informações sobre o sistema: <a asp-controller="Home" asp-action="About" />Sobre o SystemRD1</p>
    </div>
</div>