@{
    ViewData["Title"] = "Privacidade";
}

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <p>Sistema projetado para o Restaurante Diniz</p>
        </div>
        <div class="card-footer">
            Política de Privacidade - SystemRD1
        </div>
    </div>
</div>