@{
    ViewData["Title"] = "Privacidade";
}
<div class="container justify-content-center">
    <div class="card">
        <div class="card-header">
            <div class="h3 text-capitalize">
                Restaurante Diniz
            </div>
        </div>
        <div class="card-body">
            <div class="h5 text-body">
                Sistema projetado para o Restaurante Diniz
            </div>
        </div>
        <div class="card-footer">
            Política de Privacidade - SystemRD1
        </div>
    </div>
</div>
