@model RegisterUserViewModel

@{ 
    ViewData["Title"] = "Registro";
}

<div class="d-flex justify-content-center mt-3">
    <div class="card mx-auto" style="width: 400px">
        <div class="card-body">
            <form method="post">
                <h5 class="card-title text-center text-secondary">
                    Sua nova conta
                </h5>
                <hr />
                <vc:summary></vc:summary>
                <div class="form-group">
                    <label asp-for="Email" class="col-form-label"></label>
                    <input asp-for="Email" class="form-control form-text" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-form-label"></label>
                    <input asp-for="Password" class="form-control form-text" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control form-text" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button> |
                Já possui uma conta ? <a asp-action="Login" asp-controller="User">Entre aqui!</a>
            </form>
        </div>
    </div>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}